@import '../../scss/variables&mixins.scss';


.pageLoader{

    background: $white;
    position: absolute;
    width: 100%;
    height: 100%;
    height: 100%;
    z-index: 1000000;
    top: 0;

    transition: all 0.5s;


    .inner{
        position: fixed;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);

        @include spinningLoader;

    }

}