
@import '../scss/variables&mixins.scss';


//// //// ////
////  ROOT BODY  
////

@font-face {
    font-family: 'SEGOE';
    src: local('Segoe UI'), local('SegoeUI'),
        url('../assets/fonts/segoeuil.ttf')
  }


body,
html,
#root{
    //height: 100vh;
}

#root{
    //overflow-x: hidden;
}


*{
    padding: 0;
    margin: 0;
}




//// //// ////
////  BASIC TAGS 
////




a{
    text-decoration: none;
    color: $black;

}


p,
h1,
h2,
h3,
h4,
h5,
h6,
li,lo,
a{
    font-family: 'SEGOE', serif;
    font-weight: lighter;
    letter-spacing: 0.05em;
    line-height: 1.1em
}


h1, h2{
    font-weight: 600;    
}

h2{
    font-size: 35px;
}
