
@import '../scss/variables&mixins.scss';


//// //// ////
////  ROOT BODY  
////


#root{
    min-height: 100vh;
}


*{
    padding: 0;
    margin: 0;
}




//// //// ////
////  BASIC TAGS 
////

ul{
    
}
