@import '../../../scss/variables&mixins.scss';


.loadingScreen{
    background: $white;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    top: 0;

    transition: all 0.5s;

    .inner{

        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);

        @include spinningLoader;

        .logo{
            height: 40px;
            display: block;
            margin: auto;
        }
    }

}


